.a{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    font-size: 12;
}
.c{
    
    font-size: medium;
}
.i{
 text-align: center;
}
.t{
    font-size:x-large;
}
.q{
    font-size:larger;
}
.h{
    font-size: large;
}
